# **Setup**

In [23]:
# !pip install nselib
# https://pypi.org/project/nselib/

import nselib
from nselib import capital_market as nse
from datetime import date

# **Holiday Calendar**

In [24]:
nselib.trading_holiday_calendar()

,Product,tradingDate,weekDay,description,Sr_no
0,Corporate Bonds,22-Jan-2024,Monday,Special Holiday\r,1
1,Corporate Bonds,26-Jan-2024,Friday,Republic Day\r,2
2,Corporate Bonds,19-Feb-2024,Monday,Chatrapati Shivaji Maharaj Jayanti\r,3
3,Corporate Bonds,08-Mar-2024,Friday,Mahashivratri\r,4
4,Corporate Bonds,25-Mar-2024,Monday,Holi\r,5
...,...,...,...,...,...
15,Securities Lending & Borrowing Schemes,12-Oct-2024,Saturday,Dussehra\r,16
16,Securities Lending & Borrowing Schemes,01-Nov-2024,Friday,Diwali Laxmi Pujan*\r,17
17,Securities Lending & Borrowing Schemes,02-Nov-2024,Saturday,Diwali-Balipratipada\r,18
18,Securities Lending & Borrowing Schemes,15-Nov-2024,Friday,Gurunanak Jayanti\r,19
19,Securities Lending & Borrowing Schemes,25-Dec-2024,Wednesday,Christmas\r,20

# **List Of Companies**

In [36]:
nse.equity_list()

,SYMBOL,NAME OF COMPANY,SERIES,DATE OF LISTING,FACE VALUE
0,20MICRONS,20 Microns Limited,EQ,06-OCT-2008,5
1,21STCENMGM,21st Century Management Services Limited,BE,03-MAY-1995,10
2,360ONE,360 ONE WAM LIMITED,EQ,19-SEP-2019,1
3,3IINFOLTD,3i Infotech Limited,EQ,22-OCT-2021,10
4,3MINDIA,3M India Limited,EQ,13-AUG-2004,10
...,...,...,...,...,...
1955,ZOTA,Zota Health Care LImited,EQ,19-AUG-2019,10
1956,ZUARI,Zuari Agro Chemicals Limited,EQ,27-NOV-2012,10
1957,ZUARIIND,ZUARI INDUSTRIES LIMITED,EQ,12-APR-1995,10
1958,ZYDUSLIFE,Zydus Lifesciences Limited,EQ,18-APR-2000,1
1959,ZYDUSWELL,Zydus Wellness Limited,EQ,13-NOV-2009,10

In [49]:
nse.nifty50_equity_list()

,Company Name,Industry,Symbol
0,Adani Enterprises Ltd.,Metals & Mining,ADANIENT
1,Adani Ports and Special Economic Zone Ltd.,Services,ADANIPORTS
2,Apollo Hospitals Enterprise Ltd.,Healthcare,APOLLOHOSP
3,Asian Paints Ltd.,Consumer Durables,ASIANPAINT
4,Axis Bank Ltd.,Financial Services,AXISBANK
5,Bajaj Auto Ltd.,Automobile and Auto Components,BAJAJ-AUTO
6,Bajaj Finance Ltd.,Financial Services,BAJFINANCE
7,Bajaj Finserv Ltd.,Financial Services,BAJAJFINSV
8,Bharat Petroleum Corporation Ltd.,Oil Gas & Consumable Fuels,BPCL
9,Bharti Airtel Ltd.,Telecommunication,BHARTIARTL
10,Britannia Industries Ltd.,Fast Moving Consumer Goods,BRITANNIA
11,Cipla Ltd.,Healthcare,CIPLA
12,Coal India Ltd.,Oil Gas & Consumable Fuels,COALINDIA
13,Divi's Laboratories Ltd.,Healthcare,DIVISLAB
14,Dr. Reddy's Laboratories Ltd.,Healthcare,DRREDDY
15,Eicher Motors Ltd.,Automobile and Auto Components,EICHERMOT
16,Grasim Industries Ltd.,Construction Materials,GRASIM
17,HCL Technologies Ltd.,Information Technology,HCLTECH
18,HDFC Bank Ltd.,Financial Services,HDFCBANK
19,HDFC Life Insurance Company Ltd.,Financial Services,HDFCLIFE
20,Hero MotoCorp Ltd.,Automobile and Auto Components,HEROMOTOCO
21,Hindalco Industries Ltd.,Metals & Mining,HINDALCO
22,Hindustan Unilever Ltd.,Fast Moving Consumer Goods,HINDUNILVR
23,ICICI Bank Ltd.,Financial Services,ICICIBANK
24,ITC Ltd.,Fast Moving Consumer Goods,ITC
25,IndusInd Bank Ltd.,Financial Services,INDUSINDBK
26,Infosys Ltd.,Information Technology,INFY
27,JSW Steel Ltd.,Metals & Mining,JSWSTEEL
28,Kotak Mahindra Bank Ltd.,Financial Services,KOTAKBANK
29,LTIMindtree Ltd.,Information Technology,LTIM
30,Larsen & Toubro Ltd.,Construction,LT
31,Mahindra & Mahindra Ltd.,Automobile and Auto Components,M&M
32,Maruti Suzuki India Ltd.,Automobile and Auto Components,MARUTI
33,NTPC Ltd.,Power,NTPC
34,Nestle India Ltd.,Fast Moving Consumer Goods,NESTLEIND
35,Oil & Natural Gas Corporation Ltd.,Oil Gas & Consumable Fuels,ONGC
36,Power Grid Corporation of India Ltd.,Power,POWERGRID
37,Reliance Industries Ltd.,Oil Gas & Consumable Fuels,RELIANCE
38,SBI Life Insurance Company Ltd.,Financial Services,SBILIFE
39,State Bank of India,Financial Services,SBIN
40,Sun Pharmaceutical Industries Ltd.,Healthcare,SUNPHARMA
41,Tata Consultancy Services Ltd.,Information Technology,TCS
42,Tata Consumer Products Ltd.,Fast Moving Consumer Goods,TATACONSUM
43,Tata Motors Ltd.,Automobile and Auto Components,TATAMOTORS
44,Tata Steel Ltd.,Metals & Mining,TATASTEEL
45,Tech Mahindra Ltd.,Information Technology,TECHM
46,Titan Company Ltd.,Consumer Durables,TITAN
47,UPL Ltd.,Chemicals,UPL
48,UltraTech Cement Ltd.,Construction Materials,ULTRACEMCO
49,Wipro Ltd.,Information Technology,WIPRO

# **Bhav Copy**

In [28]:
# Stock Price For All The Listed Companies
nse.bhav_copy_equities(trade_date='07-03-2024')

,SYMBOL,SERIES,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,TOTTRDQTY,TOTTRDVAL,TIMESTAMP,TOTALTRADES
0,1018GS2026,GS,116.46,117.00,116.00,116.00,116.00,116.46,2020,2.353792e+05,07-MAR-2024,4
1,182D010824,TB,96.80,96.80,96.80,96.80,96.80,96.80,200,1.936000e+04,07-MAR-2024,2
2,182D040424,TB,98.95,98.95,98.95,98.95,98.95,98.95,100,9.895000e+03,07-MAR-2024,1
3,182D060624,TB,98.00,98.00,98.00,98.00,98.00,98.00,100,9.800000e+03,07-MAR-2024,1
4,182D110724,TB,96.70,97.00,96.70,97.00,97.00,96.61,900,8.727000e+04,07-MAR-2024,4
...,...,...,...,...,...,...,...,...,...,...,...,...
2699,ZOTA,EQ,503.55,512.45,503.55,504.50,506.05,500.80,9934,5.019570e+06,07-MAR-2024,643
2700,ZUARI,EQ,195.00,204.60,194.65,197.35,196.65,195.90,229358,4.576855e+07,07-MAR-2024,10057
2701,ZUARIIND,EQ,285.65,291.30,278.50,284.90,284.15,285.65,131448,3.741094e+07,07-MAR-2024,7723
2702,ZYDUSLIFE,EQ,962.00,981.95,958.05,976.75,977.00,961.85,921521,8.959604e+08,07-MAR-2024,43598
2703,ZYDUSWELL,EQ,1576.95,1596.95,1565.00,1582.75,1589.95,1576.95,24587,3.891342e+07,07-MAR-2024,3334

In [29]:
# Detailed Stock Prices For All The Listed Companies
nse.bhav_copy_with_delivery(trade_date='07-03-2024')

,SYMBOL,SERIES,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,CLOSE_PRICE,PREV_CLOSE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DATE1
0,1018GS2026,GS,116.46,117.00,116.00,116.00,116.46,2020,2.35,4,2020,100.00,07-Mar-2024
1,20MICRONS,EQ,155.55,155.75,147.00,148.70,157.45,329960,499.25,12056,120645,36.56,07-Mar-2024
2,21STCENMGM,BE,48.40,49.00,48.40,49.00,49.35,16769,8.17,34,-,-,07-Mar-2024
3,360ONE,EQ,702.55,705.10,675.85,679.80,696.25,298672,2054.21,31274,200180,67.02,07-Mar-2024
4,3IINFOLTD,EQ,46.00,47.00,45.30,45.75,46.00,878568,403.66,4591,390737,44.47,07-Mar-2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2625,ZOTA,EQ,503.55,512.45,503.55,504.50,500.80,9934,50.20,643,4700,47.31,07-Mar-2024
2626,ZUARI,EQ,195.00,204.60,194.65,197.35,195.90,229358,457.69,10057,89118,38.86,07-Mar-2024
2627,ZUARIIND,EQ,285.65,291.30,278.50,284.90,285.65,131448,374.11,7723,56646,43.09,07-Mar-2024
2628,ZYDUSLIFE,EQ,962.00,981.95,958.05,976.75,961.85,921521,8959.60,43598,324605,35.22,07-Mar-2024
2629,ZYDUSWELL,EQ,1576.95,1596.95,1565.00,1582.75,1576.95,24587,389.13,3334,13718,55.79,07-Mar-2024

# **Block & Bulk Deal**

In [33]:
nse.block_deals_data(from_date='01-03-2024', to_date='06-03-2020',period='1M')

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks
0,07-FEB-2024,BSE,BSE Limited,MARSHALL WACE INVESTMENT STRATEGIES - SYSTEMAT...,SELL,"88,700","2,469.35",-
1,07-FEB-2024,BSE,BSE Limited,SOCIETE GENERALE,BUY,"88,700","2,469.35",-
2,08-FEB-2024,KALYANKJIL,Kalyan Jewellers Ind Ltd,AEMV,BUY,"26,883",334.00,-
3,08-FEB-2024,KALYANKJIL,Kalyan Jewellers Ind Ltd,AVAW,BUY,"1,34,604",334.00,-
4,08-FEB-2024,KALYANKJIL,Kalyan Jewellers Ind Ltd,AVS MF,BUY,"53,990",334.00,-
...,...,...,...,...,...,...,...,...
176,07-MAR-2024,LODHA,Macrotech Developers Ltd,SEB FUND 3 SEB PENSION FUND,SELL,"1,17,093","1,196.65",-
177,07-MAR-2024,TATAMOTORS,Tata Motors Limited,SEB ASIENFOND EX JAPAN,BUY,"1,85,410","1,017.65",-
178,07-MAR-2024,TATAMOTORS,Tata Motors Limited,SEB FUND 3 SEB PENSION FUND,SELL,"1,85,410","1,017.65",-
179,07-MAR-2024,TORNTPHARM,Torrent Pharma Ltd.,SEB ASIENFOND EX JAPAN,BUY,"63,294","2,691.20",-
180,07-MAR-2024,TORNTPHARM,Torrent Pharma Ltd.,SEB FUND 3 SEB PENSION FUND,SELL,"63,294","2,691.20",-

In [34]:
# Bulk Deal
nse.bulk_deal_data(from_date='01-03-2024', to_date='06-03-2020',period='1M')

,Date,Symbol,SecurityName,ClientName,Buy/Sell,QuantityTraded,TradePrice/Wght.Avg.Price,Remarks
0,07-FEB-2024,ADRO-RE,Adroit Infotech Limited,ARUN JAIN,BUY,"2,00,000",4.36,-
1,07-FEB-2024,AKG,AKG Exim Limited,DHANDHARIA ANAND,SELL,"2,14,201",23.00,-
2,07-FEB-2024,AKG,AKG Exim Limited,MSB E TRADE SECURITIES LIMITED,BUY,"1,67,500",23.40,-
3,07-FEB-2024,AKG,AKG Exim Limited,YASHWI SECURITIES PVT. LTD.,BUY,"2,34,453",23.00,-
4,07-FEB-2024,AKG,AKG Exim Limited,YASHWI SECURITIES PVT. LTD.,SELL,"2,34,453",22.85,-
...,...,...,...,...,...,...,...,...
2473,07-MAR-2024,TATACHEM,Tata Chemicals Ltd.,GRAVITON RESEARCH CAPITAL LLP,BUY,"22,19,734","1,277.06",-
2474,07-MAR-2024,TATACHEM,Tata Chemicals Ltd.,GRAVITON RESEARCH CAPITAL LLP,SELL,"22,19,734","1,277.30",-
2475,07-MAR-2024,TOKYOPLAST,Tokyo Plast Intl Ltd,KABRA KAILASH,SELL,"50,000",117.97,-
2476,07-MAR-2024,VETO,Veto Switchgear Cable Ltd,JATESH JAIN,BUY,"1,25,100",134.33,-
2477,07-MAR-2024,VETO,Veto Switchgear Cable Ltd,JATESH JAIN,SELL,"1,25,100",133.81,-

# **Stock Price**

In [42]:
# nse.deliverable_position_data(symbol='SBIN', from_date='01-01-2024', period='1M')

NSEdataNotFound:  Resource not available MSG: 'charmap' codec can't encode character '\x82' in position 178: character maps to <undefined>

In [44]:
# nse.price_volume_data(symbol='SBIN', from_date='01-01-2024', period='1M')

NSEdataNotFound:  Resource not available MSG: 'charmap' codec can't encode character '\x82' in position 178: character maps to <undefined>

In [43]:
nse.price_volume_and_deliverable_position_data(symbol='SBIN', from_date='01-01-2024', period='1M')

c:\Users\aksha\AppData\Local\Programs\Python\Python311\Lib\site-packages\nselib\capital_market\capital_market_data.py:38: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  nse_df = pd.concat([nse_df, data_df], ignore_index=True)

,Symbol,Series,Date,PrevClose,OpenPrice,HighPrice,LowPrice,LastPrice,ClosePrice,AveragePrice,TotalTradedQuantity,TurnoverInRs,No.ofTrades,DeliverableQty,%DlyQttoTradedQty
0,SBIN,EQ,07-Feb-2024,650.25,655.05,677.95,655.00,677.50,675.25,669.94,"4,16,96,232","27,93,40,60,703.15","7,97,692","1,64,05,107",39.34
1,SBIN,EQ,08-Feb-2024,675.25,680.40,718.90,678.50,699.80,699.55,700.87,"7,42,22,434","52,02,06,33,464.10","9,78,644","3,17,13,090",42.73
2,SBIN,EQ,09-Feb-2024,699.55,703.65,728.35,694.20,725.45,725.25,711.47,"4,32,35,061","30,76,02,44,551.05","7,57,763","1,67,93,764",38.84
3,SBIN,EQ,12-Feb-2024,725.25,726.00,726.00,704.50,707.00,707.90,713.27,"2,28,73,137","16,31,48,27,822.60","5,73,623","86,70,324",37.91
4,SBIN,EQ,13-Feb-2024,707.90,708.55,718.00,702.15,711.35,713.45,711.68,"2,33,51,472","16,61,86,87,259.40","3,64,739","66,98,293",28.68
5,SBIN,EQ,14-Feb-2024,713.45,705.55,748.50,705.55,743.00,743.40,730.54,"3,67,82,182","26,87,09,28,805.05","4,93,455","1,21,56,464",33.05
6,SBIN,EQ,15-Feb-2024,743.40,747.70,764.00,741.65,760.40,761.70,754.14,"3,39,41,282","25,59,65,07,159.35","8,63,114","1,50,61,490",44.38
7,SBIN,EQ,16-Feb-2024,761.70,763.45,774.60,753.35,757.35,754.70,763.14,"2,73,65,121","20,88,33,78,535.90","5,19,358","1,15,24,648",42.11
8,SBIN,EQ,19-Feb-2024,754.70,758.70,765.00,750.00,759.65,759.25,758.61,"1,39,79,584","10,60,50,31,489.65","2,53,774","44,58,749",31.89
9,SBIN,EQ,20-Feb-2024,759.25,759.05,763.50,754.00,760.65,760.10,759.33,"1,25,28,399","9,51,31,87,763.75","2,60,985","43,18,800",34.47
10,SBIN,EQ,21-Feb-2024,760.10,760.65,777.50,759.60,772.05,771.50,770.65,"2,14,65,311","16,54,22,28,829.40","4,41,746","61,58,114",28.69
11,SBIN,EQ,22-Feb-2024,771.50,773.00,773.00,757.00,766.95,765.90,764.01,"1,87,99,244","14,36,28,48,260.80","3,72,278","68,31,114",36.34
12,SBIN,EQ,23-Feb-2024,765.90,765.90,770.50,755.00,760.35,759.05,761.81,"1,41,43,636","10,77,48,10,691.75","4,79,997","54,26,016",38.36
13,SBIN,EQ,26-Feb-2024,759.05,755.00,766.35,752.70,758.40,758.90,759.32,"1,13,55,186","8,62,22,14,664.70","2,80,156","38,88,203",34.24
14,SBIN,EQ,27-Feb-2024,758.90,758.90,762.35,742.20,749.50,749.85,751.69,"1,39,69,393","10,50,06,29,239.15","3,15,352","48,47,382",34.70
15,SBIN,EQ,28-Feb-2024,749.85,749.85,756.75,741.00,743.00,742.50,747.76,"1,12,63,318","8,42,22,54,972.85","2,83,338","32,55,416",28.90
16,SBIN,EQ,29-Feb-2024,742.50,743.90,753.90,737.15,753.00,748.10,745.74,"1,92,17,113","14,33,08,98,842.35","3,89,495","72,58,306",37.77
17,SBIN,EQ,01-Mar-2024,748.10,752.00,772.00,751.95,770.00,769.15,763.20,"1,73,48,526","13,24,04,13,220.45","3,09,262","75,66,668",43.62
18,SBIN,EQ,02-Mar-2024,769.15,771.95,777.00,768.90,773.70,773.30,774.03,"11,58,960","89,70,65,444.75","27,382","5,03,601",43.45
19,SBIN,EQ,04-Mar-2024,773.30,774.40,777.00,769.00,771.35,772.05,772.72,"97,89,141","7,56,42,84,699.60","1,97,362","36,52,799",37.31
20,SBIN,EQ,05-Mar-2024,772.05,769.50,786.95,769.10,784.60,783.95,782.20,"1,80,88,847","14,14,91,13,322.65","4,04,509","70,56,745",39.01
21,SBIN,EQ,06-Mar-2024,783.95,783.65,790.30,772.90,783.70,783.90,783.81,"2,67,10,525","20,93,60,92,585.05","5,03,262","97,91,491",36.66
22,SBIN,EQ,07-Mar-2024,783.90,790.00,793.40,783.00,786.00,788.05,788.54,"1,54,97,868","12,22,07,05,592.60","2,19,629","91,23,241",58.87

# **Index Data**

In [46]:
nse.index_data(index="NIFTY 50",period="1M")

c:\Users\aksha\AppData\Local\Programs\Python\Python311\Lib\site-packages\nselib\capital_market\capital_market_data.py:226: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  nse_df = pd.concat([nse_df, data_df], ignore_index=True)

,TIMESTAMP,INDEX_NAME,OPEN_INDEX_VAL,HIGH_INDEX_VAL,CLOSE_INDEX_VAL,LOW_INDEX_VAL,TRADED_QTY,TURN_OVER
0,07-02-2024,NIFTY 50,22045.05,22053.30,21930.50,21860.15,346263704,30088.76
1,08-02-2024,NIFTY 50,22009.65,22011.05,21717.95,21665.30,491069786,41082.02
2,09-02-2024,NIFTY 50,21727.00,21804.45,21782.50,21629.90,349222850,31176.16
3,12-02-2024,NIFTY 50,21800.80,21831.70,21616.05,21574.75,287436165,23921.14
4,13-02-2024,NIFTY 50,21664.30,21766.80,21743.25,21543.35,365785766,29896.62
5,14-02-2024,NIFTY 50,21578.15,21870.85,21840.05,21530.20,359120861,32535.00
6,15-02-2024,NIFTY 50,21906.55,21953.85,21910.75,21794.80,345394395,29559.69
7,16-02-2024,NIFTY 50,22020.30,22068.65,22040.70,21968.95,343892935,30666.89
8,19-02-2024,NIFTY 50,22103.45,22186.65,22122.25,22021.05,218252325,21375.71
9,20-02-2024,NIFTY 50,22099.20,22215.60,22196.95,22045.85,295705319,26872.32
10,21-02-2024,NIFTY 50,22248.85,22249.40,22055.05,21997.95,364545679,29741.39
11,22-02-2024,NIFTY 50,22081.55,22252.50,22217.45,21875.25,343495136,33985.94
12,23-02-2024,NIFTY 50,22290.00,22297.50,22212.70,22186.10,225983194,24617.01
13,26-02-2024,NIFTY 50,22169.20,22202.15,22122.05,22075.15,207775504,20850.26
14,27-02-2024,NIFTY 50,22090.20,22218.25,22198.35,22085.65,252199186,24620.71
15,28-02-2024,NIFTY 50,22214.10,22229.15,21951.15,21915.85,202952371,20579.80
16,29-02-2024,NIFTY 50,21935.20,22060.55,21982.80,21860.65,360165824,40196.12
17,01-03-2024,NIFTY 50,22048.30,22353.30,22338.75,22047.75,351503075,29646.47
18,02-03-2024,NIFTY 50,22406.95,22419.55,22378.40,22367.05,35763814,1918.77
19,04-03-2024,NIFTY 50,22403.50,22440.90,22405.60,22358.30,298794435,23771.71
20,05-03-2024,NIFTY 50,22371.25,22416.90,22356.30,22269.15,296153036,29165.37
21,06-03-2024,NIFTY 50,22327.50,22497.20,22474.05,22224.35,312262560,31029.01
22,07-03-2024,NIFTY 50,22505.30,22525.65,22493.55,22430.00,379865142,33558.46

In [48]:
nse.market_watch_all_indices()

,key,index,indexSymbol,last,variation,percentChange,open,high,low,previousClose,...,dy,declines,advances,unchanged,perChange365d,perChange30d,previousDay,oneWeekAgo,oneMonthAgo,oneYearAgo
0,BROAD MARKET INDICES,NIFTY 50,NIFTY 50,22493.55,19.50,0.09,22505.30,22525.65,22430.00,22474.05,...,1.19,20,30,0,26.89,3.23,22474.05,22338.75,21929.40,17754.40
1,BROAD MARKET INDICES,NIFTY NEXT 50,NIFTY NEXT 50,60323.90,517.80,0.87,59934.65,60573.10,59929.10,59806.10,...,1.28,22,28,0,56.11,7.43,59806.10,59506.75,56465.45,38452.80
2,BROAD MARKET INDICES,NIFTY 100,NIFTY 100,23036.05,47.70,0.21,23024.05,23070.65,22970.85,22988.35,...,1.18,42,59,0,31.31,3.96,22988.35,22862.05,22299.30,17552.95
3,BROAD MARKET INDICES,NIFTY 200,NIFTY 200,12417.25,26.00,0.21,12410.60,12441.30,12386.75,12391.25,...,1.13,84,115,2,34.83,3.47,12391.25,12331.15,12082.95,9217.55
4,BROAD MARKET INDICES,NIFTY 500,NIFTY 500,20434.80,55.25,0.27,20413.65,20471.35,20384.50,20379.55,...,1.09,205,292,4,36.95,2.65,20379.55,20349.80,20033.75,14921.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,FIXED INCOME INDICES,NIFTY 10 YR BENCHMARK G-SEC (CLEAN PRICE),NIFTY GS 10YR CLN,879.10,1.53,0.17,877.57,879.12,877.57,877.57,...,,NaN,NaN,NaN,2.14,0.22,877.75,876.67,875.75,856.51
69,FIXED INCOME INDICES,NIFTY 4-8 YR G-SEC INDEX,NIFTY GS 4 8YR,2787.81,2.58,0.09,2785.77,2787.81,2785.77,2785.23,...,,NaN,NaN,NaN,8.58,0.40,2785.58,2781.19,2772.89,2561.48
70,FIXED INCOME INDICES,NIFTY 11-15 YR G-SEC INDEX,NIFTY GS 11 15YR,2845.71,4.03,0.14,2842.24,2845.71,2842.24,2841.68,...,,NaN,NaN,NaN,10.63,0.67,2842.34,2835.88,2821.53,2564.31
71,FIXED INCOME INDICES,NIFTY 15 YR AND ABOVE G-SEC INDEX,NIFTY GS 15YRPLUS,3156.33,5.34,0.16,3151.60,3157.20,3151.35,3150.99,...,,NaN,NaN,NaN,12,1.03,3151.62,3139.37,3125.08,2803.78
72,FIXED INCOME INDICES,NIFTY COMPOSITE G-SEC INDEX,NIFTY GS COMPSITE,2669.07,4.14,0.15,2665.45,2669.26,2665.45,2664.93,...,,NaN,NaN,NaN,9.65,0.75,2665.46,2659.14,2646.67,2424.32

# **Short Selling Data**

In [50]:
nse.short_selling_data(period='1M')

           Date      Symbol                        SecurityName  Quantity
0   31-Jan-2024      ZOMATO                      ZOMATO LIMITED    10,000
1   31-Jan-2024        SAIL            STEEL AUTHORITY OF INDIA     2,300
2   31-Jan-2024        SAIL            STEEL AUTHORITY OF INDIA     6,350
3   01-Feb-2024  METROPOLIS       METROPOLIS HEALTHCARE LIMITED     4,800
4   02-Feb-2024  IBULHSGFIN  INDIABULLS HOUSING FINANCE LIMITED  1,00,000
5   08-Feb-2024         UPL                         UPL LIMITED     7,500
6   08-Feb-2024  IDFCFIRSTB                IDFC FIRST BANK LIMI    97,500
7   12-Feb-2024  BALRAMCHIN           BALRAMPUR CHINI MILLS LTD     8,000
8   21-Feb-2024     SBICARD             SBI CARDS & PAY SER LTD       800
9   22-Feb-2024  BERGEPAINT           BERGER PAINTS (I) LIMITED    35,448
10  22-Feb-2024     SBICARD             SBI CARDS & PAY SER LTD     6,590
11  22-Feb-2024     RBLBANK                RBL BANK LIMITED        17,500
12  22-Feb-2024      BIOCON                     BIOCON LIMITED.     7,500
13  22-Feb-2024    GMRINFRA             GMR INFRASTRUCTURE LTD.    22,500
14  23-Feb-2024  BERGEPAINT           BERGER PAINTS (I) LIMITED    10,560
15  26-Feb-2024  BERGEPAINT           BERGER PAINTS (I) LIMITED     1,320
16  27-Feb-2024  BERGEPAINT           BERGER PAINTS (I) LIMITED    13,200
17  28-Feb-2024   SOUTHBANK           THE SOUTH INDIAN BANK LTD  3,50,000
18  29-Feb-2024   SOUTHBANK           THE SOUTH INDIAN BANK LTD  5,18,050
19  29-Feb-2024  BERGEPAINT           BERGER PAINTS (I) LIMITED    73,920